In [ ]:
def myreduce(add,list_1):
  return a
def add(a,b):
  return a+b
list_1=[1,2,3,4,5]
a=list_1[0]
for i in range(1,len(list_1)):
  b=list_1[i]
  a=add(a,b)
print(myreduce(add,list_1))

15

In [ ]:
list_2=(12,25,65,89)

a=list_2[0]
for i in range(1,len(list_2)):
  b=list_2[i]
  a=add(a,b)
print(myreduce(add,list_2))

191

In [ ]:
def myfilter(is_odd,list_1):
  return is_odd(a)
list_1=[2,3,4,5,6,7,8,9,10]
list_2=[]
def is_odd(a):
  for i in list:
    if i%2>=1:
      list_2.append(i)  
  print(list_2)
myfilter(is_odd,list_2)

[3, 5, 7, 9]

In [ ]:
l=['x','y','z']
[a*b for b in l for a in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [ ]:
[a*b for a in range (1,5) for b in l]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [ ]:
m=[2,3,4,5]
[[a+b for b in m] for a in range (0,4)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [ ]:
n=[2,3,4]
[[a+b]for b in n for a in range(0,3)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [ ]:
o=[1,2,3]
[(b,a) for a in o for b in o]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]